<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>304841316848-daufnouvs1rhphu4beto9tocve6bvcjm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.304841316848-daufnouvs1rhphu4beto9tocve6bvcjm</string>
	<key>API_KEY</key>
	<string>AIzaSyCQrXAJmQaomWF49PZtdkJ-h8CwRseu67A</string>
	<key>GCM_SENDER_ID</key>
	<string>304841316848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.goloviznin.eldar.MovieDB</string>
	<key>PROJECT_ID</key>
	<string>tmdb-moviedb-radleweird</string>
	<key>STORAGE_BUCKET</key>
	<string>tmdb-moviedb-radleweird.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:304841316848:ios:1855a82720b4bf72</string>
	<key>DATABASE_URL</key>
	<string>https://tmdb-moviedb-radleweird.firebaseio.com</string>
</dict>
</plist>